In [47]:
'''
NUMPY
Задание 1
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов.
Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7.
Будем считать, что каждый столбец - это признак, а строка - наблюдение.
Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy.
Результат запишите в массив mean_a, в нем должно быть 2 элемента.
'''
print('NUMPY')
print('Задание 1')

import numpy as np

a = np.array([[1, 6],
              [2, 8],
              [3, 11],
              [3, 10],
              [1, 7],])
print(a)

mean_a = a.mean(axis=0)
print("Средние квадратические отклонения столбцов: ", mean_a)
'''
Задание 2
Вычислите массив a_centered, отняв от значений массива а
средние значения соответствующих признаков, содержащиеся в массиве mean_a.
Вычисление должно производиться в одно действие.
Получившийся массив должен иметь размер 5x2.
'''
print('Задание 2')
a_centered = a - mean_a
print(a_centered)
'''
Задание 3
Найдите скалярное произведение столбцов массива a_centered.
В результате должна получиться величина a_centered_sp.
Затем поделите a_centered_sp на N-1, где N - число наблюдений.
'''
print('Задание 3')

a_centered_sp = a_centered[:,0] @ a_centered[:,1]
print('Скалярное произведение столбцов: ', a_centered_sp)
n = a.shape[0]
print(a_centered_sp/(n-1))  

'''
PANDAS
Задание 1

Импортируйте библиотеку Pandas и дайте ей псевдоним pd.
Создайте датафрейм authors со столбцами author_id и author_name,
в которых соответственно содержатся данные:
[1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price,
в которых соответственно содержатся данные:
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].
'''
print('PANDAS')
print('Задание 1')
import pandas as pd

a = {
    "author_id": [1, 2, 3],
    "author_name": ['Тургенев', 'Чехов', 'Островский']
}

authors = pd.DataFrame(a)
print(authors)
b = {
    "author_id": [1, 1, 1, 2, 2, 3, 3],
    "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    "price": [450, 300, 350, 500, 450, 370, 290]
}    

book = pd.DataFrame(b)
print(book)

'''
Задание 2
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.
'''
print('Задание 2')
authors_price = pd.merge(authors, book, on='author_id', how='outer')
print(authors_price)


'''
Задание 3
Создайте датафрейм top5, в котором содержатся строки из authors_price
с пятью самыми дорогими книгами.
'''
print('Задание 3')
authors_price.sort_values(by="price", ascending=[False], inplace=True)
top5 = authors_price.head(5)
print(top5)
top5 = authors_price.nlargest(5, "price")
print(top5)
'''
Задание 4
Создайте датафрейм authors_stat на основе информации из authors_price.
В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора,
минимальная, максимальная и средняя цена на книги этого автора.
'''
print('Задание 4')
authors_stat = authors_price.groupby("author_name")
#authors_stat
#print(authors_stat)
authors_stat["price"].max()
authors_stat.agg({"price": "max"})

NUMPY
Задание 1
[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]
Средние квадратические отклонения столбцов:  [2.  8.4]
Задание 2
[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]
Задание 3
Скалярное произведение столбцов:  8.0
2.0
PANDAS
Задание 1
   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский
   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290
Задание 2
   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290
Задание 3
   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350
   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350
Задание 4

             price
author_name
Островский     370
Тургенев       450
Чехов          500